.card {
    height: 100px;
    width: 50%;

    background: #03234d;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 20px;
}

.card strong {
    font-size: 18px;
}
